<a href="https://colab.research.google.com/github/artso17/data-science-1/blob/main/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import math

In [ ]:
np.random.seed(6)
population_ages1=stats.poisson.rvs(loc=18,mu=35,size=150000)
population_ages2=stats.poisson.rvs(loc=18,mu=10,size=100000)

minnesota_ages1=stats.poisson.rvs(loc=18,mu=30,size=30)
minnesota_ages2=stats.poisson.rvs(loc=18,mu=10,size=20)

In [ ]:
population_ages=np.concatenate((population_ages1,population_ages2))
minnesota_ages=np.concatenate((minnesota_ages1,minnesota_ages2))

In [ ]:
print(population_ages.mean())
print(minnesota_ages.mean())

43.000112
39.26

In [ ]:
(t_test,p_val)=stats.ttest_1samp(a=minnesota_ages,popmean=population_ages.mean())
print(t_test,p_val)

-2.574271488365502 0.013118685425061729

In [ ]:
print(minnesota_ages)
print(population_ages.mean())

[22 22 24 25 25 26 28 28 28 28 28 29 29 29 31 32 32 32 34 36 37 37 38 38
 41 41 42 42 43 44 45 45 46 46 46 46 47 47 47 47 49 50 51 51 51 53 54 55
 56 60]
43.000112

In [ ]:
stats.t.ppf(q=.025, # Quantile to check
            df=len(minnesota_ages)-1) #Degrees of freedom / n_sample - 1

-2.0095752344892093

In [ ]:
stats.t.cdf(x=t_test, # t-test statistic
            df=len(minnesota_ages)-1)*2 # multiply by two for two tailed test

0.013118685425061729

In [ ]:
sigma=minnesota_ages.std()/np.sqrt(50)

stats.t.interval(.95, # confidence level
                 49, # degrees of freedom
                 minnesota_ages.mean(), # sample mean
                 scale=sigma) # standard dev estimate

(36.369669080722176, 42.15033091927782)